@media screen and (min-width: 992px) {

    /********** main **********/
    .album{
        width: calc((100% - 50px) / 6);
        /* background-color: yellow; */
    }

    .bar{
        width: 425px;
        height: 5px;
        border-radius: 2px;
        background-color: #5a5a5a;
    }
}