*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
body{
    height: 100vh;
}

/********** main **********/
main{
    height: calc(100% - 90px);
    background-color: #151922;
    display: flex;
}

/* menù */
.menu{
    width: 50px;
    background-color: black;
}

/* home */
.home{
    width: calc(100% - 50px);
}

/* navigazione */
nav{
    height: 90px;
    background-color: #10151b;
}

/* contenuti */
.contenuti{
    height: calc(100% - 90px);
}

/********** footer **********/
footer{
    height: 90px;
    background-color: #282828;
}